# XAMPP / PHP
/admin/db_connect.php
/admin/db.php
/admin/user_db_connect.php
/assets/signup_db_connect.php

# IDEs
.vscode/

# Archive files
*.zip
*.rar
*.7z

# OS files
Thumbs.db
.DS_Store

# Temporary files
/tmp/
*.log
